@import '../_utilities';

.h-graphics-container{
    width: 550px;
    height: 100%;



}
.h-testimony{
position: relative;
bottom: 90px;
margin-top: -130px;
margin-left: -45px;
    color: white;
    background-color: $dark-blue;
    width: 500px;

    padding: 45px;
    .title{
        margin-top: 15px;
    }
}
.bg-shape{
margin-top: -530px;
//margin-right: -300px;
position: absolute;
right: 0;
      z-index: -1;
    display: block;
    height: 500px;
    width: 35%;
   



    background-color: $grey;
}